pipeline/Sql_toADLS2_1table.json
{
	"name": "Sql_toADLS2_1table",
	"properties": {
		"activities": [
			{
				"name": "Lookup Get LIst of Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select TABLE_SCHEMA , TABLE_NAME From INFORMATION_SCHEMA.Tables Where TABLE_TYPE = 'Base Table'",
						"queryTimeout": "00:30:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServer_Employee",
						"type": "DatasetReference",
						"parameters": {
							"Schema_Name": "HumanResources",
							"Table_Name": "Employee"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Get LIst of Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Get LIst of Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data from Sql To Adls2_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "00:30:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServer_Employee",
									"type": "DatasetReference",
									"parameters": {
										"Schema_Name": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"Table_Name": {
											"value": "@item().Table_Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Employee_Dataset_Csv",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "@concat(item().TABLE_SCHEMA, '_', item().Table_Name, '.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-05-28T20:47:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}